version: 2.1

orbs:
  codecov: codecov/codecov@1.0.2
  vfcommon: voiceflow/common@0.0.44

jobs:
  build-and-test:
    executor: vfcommon/default-executor
    steps:
      - checkout
      - vfcommon/install_node_modules
      - vfcommon/lint_source
      - vfcommon/build
      - vfcommon/unit_tests
      - codecov/upload:
          file: nyc_coverage/lcov.info
          flags: unit
      - vfcommon/integration_tests
      - codecov/upload:
          file: nyc_coverage/lcov.info
          flags: integration

workflows:
  test-and-release:
    jobs:
      - build-and-test
      - vfcommon/release:
          requires:
            - build-and-test
          filters:
            branches:
              only: master

